li{
    list-style: none;
    }
ul{
    padding: 0;
}
.octocat > a > img{
    width: 450px;
    border: 1px solid lightgrey;
}
.authors > li > a > img{
    width: 30px;
    position: relative;
    bottom: 0x; right: 100x;
}

.octodex{
    display: flex;
    justify-content: space-evenly;
}

.image-footer {
    display: flex;
    justify-content: space-evenly;
}

.image-caption{
    display: flex
}

a{
    text-decoration: none;
    color: rgb(75,74,74);
    font-weight: bold;
    margin: 0 5px 0 5px;
}

.image-number{
    font size: 13px;
    display: flex;
    margin-left: 2px; 
    color: rgb (119,119,119)
}